{% extends 'base.html' %}

{% block title %}Редактирование задачи: {{ task.title }}{% endblock %}

{% block content %}
    <h1>Редактировать задачу: {{ task.title }}</h1>
    <form method="post">
        {% csrf_token %}
        
        <!-- Поле для заголовка -->
        <label for="id_title">{{ form.title.label }}</label>
        {{ form.title }} <br>

        <!-- Поле для выбора исполнителя (участники проекта) -->
        <label for="id_assignee">{{ form.assignee.label }}</label>
        <select name="assignee" id="id_assignee">
            <option value="" disabled {% if not form.assignee.value %}selected{% endif %}>Выберите исполнителя</option>
            {% for participant in project.participants.all %}
                <option value="{{ participant.user.id }}" {% if form.assignee.value == participant.user.id %}selected{% endif %}>{{ participant.user.get_full_name }}</option>
            {% endfor %}
        </select>
        {% if form.assignee.errors %}
            <div style="color: red;">{{ form.assignee.errors.0 }}</div>
        {% endif %}
        <br>

        <!-- Поле для дедлайна -->
        <label for="id_deadline">{{ form.deadline.label }}</label>
        {{ form.deadline }} <br>

        <!-- Поле для описания -->
        <label for="id_description">{{ form.description.label }}</label>
        {{ form.description }} <br>


        <button type="submit" class="btn btn-success">Сохранить изменения</button>
    </form>

    <p><a href="{% url 'task_list' project_id=project_id %}">Вернуться к списку задач</a></p>
{% endblock %}
